body {
  font-family: "arial";
}

#map {
  margin-top: 10px;
}

#deckgl-wrapper {
  position: relative !important;
}

#deckgl-overlay {
  position: relative !important;
}

#left-column-content{
  margin-left: 5px;
  margin-top:10px;
}

#right-column-content{
  margin-left: 5px;
  margin-top:10px;
}

.control{
  flex-direction: column !important;
}

#tooltip {
  background-color: #eeeeee;
  padding:10px;
  position: absolute;
  z-index: 1;
  pointer-events: none;
  display: none;
}

.legend td {
  vertical-align: top;
  padding-bottom: 10px;
  padding-right: 5px;
}

.legend {
  flex-direction: column;
}

.nav {
  overflow: auto;
  background-color:#1976d2;
  color:white;
  font-size: x-large;
  padding-top:5px;
  padding-bottom:5px;
  padding-left:10px;
}

.nav_header {
  font-size: medium;
  font-weight:bold;
  padding-left:5px;
  padding-right:10px;
}

.nav_link {
  font-size:  medium;
}

.nav_link a:link {
    color: white;
}

.nav_link a:visited {
  color: white;
}

.about {
  margin-left: 10px;
}