body {
  font-family: "arial";
}

#map {
  margin-top: 10px;
}

#deckgl-wrapper {
  position: relative !important;
}

#deckgl-overlay {
  position: relative !important;
}

#left-column {
}

#left-column-content{
  margin-left: 5px;
  margin-top:10px;
}

.cluster1 {
  margin-top:5px;
  padding:5px;
  background-color: #646464;
  color:white;
}

.cluster2 {
  margin-top:5px;
  padding:5px;
  background-color: #377EB8;
  color:white;
}

.cluster3 {
  margin-top:5px;
  padding:5px;
  background-color: #E41A1C;
  color:white;
}

.control{
  flex-direction: column !important;
}

#tooltip {
  background-color: #eeeeee;
  padding:10px;
  position: absolute;
  z-index: 1;
  pointer-events: none;
  display: none;
}

#legend {
  position: fixed;
  top: 100px; right: 10px;
  margin: auto;
  width: 200px;
  height: 250px;
  opacity: 0.7;
  z-index: 99;
  
  color: black;
  background: white;
  padding-top: 0px;
  padding-left: 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: 0 0 18px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.9);
  -box-shadow: 0 0 18px rgba(0, 0, 0, 0.9);
}

.legend-tick {
  padding-left: 25px;
}
