body {
  font-family: "arial";
}

#map {
  margin-top: 10px;
}

#deckgl-wrapper {
  position: relative !important;
}

#deckgl-overlay {
  position: relative !important;
}

#left-column {
}

#left-column-content{
  margin-left: 5px;
  margin-top:10px;
}

#right-column-content{
  margin-left: 5px;
  margin-top:10px;
}

.control{
  flex-direction: column !important;
}

#tooltip {
  background-color: #eeeeee;
  padding:10px;
  position: absolute;
  z-index: 1;
  pointer-events: none;
  display: none;
}

.legend td {
  vertical-align: top;
  padding-bottom: 10px;
  padding-right: 5px;
}

.legend {
  flex-direction: column;
}